@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap");

:root {
  --dark: #260000;
  --dark-secondary: #2a0001;
  --dark-red: #7a0101;
  --dark-red-secondary: #950101;
  --red: #cf3142;
  --dark-pink: #df354f;
  --pink: #f693c4;
  --light-pink: #f7c5e8;
  --bg-color: #ebeced;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--dark);
  /* background-color: var(--bg-color); */
}

a {
  text-decoration: none;
  color: var(--dark);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  font-size: 14px;
}

p.warning {
  color: red;
  background: var(--light-pink);
  padding: 0.5rem;
  font-size: 12px;
}
p.info {
  color: green;
  background: lightgreen;
  padding: 0.5rem;
  font-size: 12px;
}

main {
  min-height: 80vh;
}

section {
  padding: 1rem 0;
  margin: 0 2rem;
}

.section-header {
  font-weight: 400;
  border-bottom: 1px solid var(--dark-red-secondary);
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.link-btn {
  padding: 24px 0;
  color: var(--dark-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70px;
  height: 24px;
}

@media (max-width: 768px) {
  main {
    padding-top: 100px;
  }
}

@media (max-width: 400px) {
  section {
    margin: 0.2rem;
  }
}
